@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

input[type=text] {
  position: absolute;
  top: 50px;
  left: 550px;
  width: 250px;
  height: 40px;
  font-size: 24px;
}
