@import "https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic";
body {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
}

ul, ol {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.canvas-container {
  width: 512px;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
}

.input-block {
  font-size: 0;
}

input[type=text] {
  display: inline-block;
  vertical-align: middle;
  width: 345px;
  height: 40px;
  padding: 0 10px;
  font-size: 24px;
  outline: none !important;
}
input[type=text]:focus {
  border: 2px solid #CC0000;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
  line-height: 40px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  background-color: #CC0000;
  color: white;
  font-size: 24px;
}

.colors {
  position: absolute;
  left: 50%;
  top: 364px;
  -webkit-transform: translateX(-276px);
  transform: translateX(-276px);
}

.color-picker {
  width: 20px;
  height: 52px;
  cursor: pointer;
}
.color-picker:first-child {
  background: #2E2E2E;
}
.color-picker:nth-child(2) {
  background: #00688B;
}
.color-picker:last-child {
  background: #CC0000;
}

.moodButtons {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(256px);
  transform: translateX(256px);
}
.moodButtons input[type=radio] {
  display: none;
}
.moodButtons label {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: white;
  font-size: 24px;
  cursor: pointer;
}
.moodButtons label:hover {
  background: #f1fbff;
}
.moodButtons input[type=radio]:checked + label {
  background: #00688B;
  color: white;
}
